/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* { /*    * - Is the universal selector that selects everything  */
    margin: 0; /* Eliminates browser default margins as we want to start clean */
    padding: 0; /* Eliminates browser default padding as we want to start clean */
    box-sizing: border-box; /* Eliminates margins and padding in width and height of box */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh; /* 95% of the view height on the screen */
    background-image: linear-gradient(
        to right bottom,  /* gradient runs from right to bottom */
        rgba(126, 213, 111, 0.8), /* opacity number on end (0.8) allows you to see less of image the closer it is to 1. The closer to 0 the less gradient color you see and you see more of the original image */
        rgba(40, 180, 131, 0.8)), /* opacity number on end (0.8) allows you to see less of image the closer it is to 1. The closer to 0 the less gradient color you see and you see more of the original image */
         url(../img/hero.jpg);
    background-size: cover; /* Background image will cover size of box */
    background-position: top; /* Will always keep background image top in screen view; This will never get cropped out; Bottom/right/left could get cropped out based on resizing of screen */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* This is the shape in the header section; Each two numbers in parenthesis before each comma represent the x and y coordinate; The measurements start from top left corner to top right corner to bottom right corner to then bottom left corner; 100% is the x coordinate that goes horizontally so the top right corner needs the x to go 100% over to the right side and the y coordinate which is the vertical axis would be 0 since we want it to stay at the top */
    /* clip-path: polygon(50% 0, 100% 100%, 0 100%) /* Example triangle clip-path; Starting at top you only need one point so you need the 50% because you need it to move over 50% on horizontal x-axis and 0 for y-axis because you need it to stay at top. Then the right corner goes next at 100% since you need it all the way to right and 100% for vertical y-axis as you need it to go to the bottom. The left corner x-axis stays at 0 because you don't want that to move but the y-vertical axis should go down 100% */
} 
