@mixin clearfix {  /* This mixin is used when using floats because when using floats it gives a height of 0 and no further styling can be done such as background-color etc. This mixin fixes this to give it height again. */
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter { /* mixin for centering inline content within a block element. Used this on our popup once you click book now */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}