.footer {
   background-color: $color-grey-dark-3; 
   padding: 10rem 0;
   font-size: 1.4rem;
   height: 50vh;
   position: relative;


   &__logo {
       height: 12rem;
       position: absolute;
       top: 25%;
       left: 50%;
       transform: translate(-50%, -50%);

   }

   &__navigation {
     text-decoration: overline;     
     text-decoration-skip: none;  
       

   }

   &__list {
    text-decoration: overline;
    text-decoration-skip: none;
    display: flex;
    // justify-content: center;
    list-style: none;
    top: 50%;
    width: 40%;
    position: absolute;
    left: 20%;

   
   }

   li:not(:last-child) {
    margin-right: 2rem;
}

    &__link {
        color: $color-white;
        text-decoration: none;
        font-size: 1.7rem;
        text-transform: uppercase;
        
    }

    &__copyright {
        position: absolute;
        top: 50%;
        left: 60%;
        width: 25%;
        color: $color-white;
    }
}